body{
    margin-top: 56px;
}

.form-option{
    padding-top: 2em;
}

.code{
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    padding: 0.5em !important;
    font-size: small;
    max-height: 40em;
}
